{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" rel="stylesheet" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM4j9n8nTLiw1FfC7JGmOlYx1w6FTLbhEh8av3A" crossorigin="anonymous">
<link href="{% static "CSS/footer.css" %}" rel="stylesheet">
<script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous">
    </script>
<style>

</style>

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    </div>
</footer>
</div>


{% block content %}
{% endblock content %}
