{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<style>
  .title-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(52, 0%, 98%);
  }

  .title-quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: hsl(52, 0%, 98%);
  }

  .bg-image {
    position: relative;
    background-image: url('https://mdbcdn.b-cdn.net/img/Others/extended-example/delivery.webp');
    background-size: cover;
    background-position: center;
  }

  .mask {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mask .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .text-white {
    color: white !important;
  }
</style>

<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col">
      <div class="card my-4 shadow-3">
        <div class="row g-0">
          <div class="col-xl-6 bg-image">
            <div class="mask">
              <div class="content text-center">
                <div>
                  <i class="fas fa-truck text-white fa-3x"></i>
                  <p class="text-white title-style">Lorem ipsum delivery</p>
                  <figure class="text-center mb-0">
                    <blockquote class="blockquote text-white">
                      <p class="pb-3">
                        <i class="fas fa-quote-left fa-xs text-primary"></i>
                        <span class="lead font-italic">Everything at your doorstep.</span>
                        <i class="fas fa-quote-right fa-xs text-primary"></i>
                      </p>
                    </blockquote>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card-body p-md-5 text-black">
              <h3 class="mb-4 text-uppercase">update Delivery Info</h3>
              <form method="POST" >
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-4">
                    {% for fm in form %}
                      <div class="form-outline mb-4">
                        {{ fm.label_tag }}
                        {{ fm }}
                        <small class="text-danger">{{ fm.errors }}</small>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="d-flex justify-content-end pt-3">
                  <button type="submit" class="btn btn-success btn-lg ms-2" style="background-color:hsl(210, 100%, 50%)">Place order</button>
                </div>
                <div class="d-flex justify-content-end pt-3">
                    <a href="{% url "adress" %}" type="button" >back </a>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if messages %}
{% for msg in messages %}
  {{ msg }}
{% endfor %}
{% endif %}
{% endblock content %}
